{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-md-8"> 
            <div class="jumbotron">
                <h1>Convertisseur magique</h1> 
                {{form(form)}}
                <p><strong>Votre réponse: {{reponse}}</strong></p>
            </div>
        </div> 
    </div>
</div> 

{% endblock %}